# Byte-compiled / optimized / DLL files
__pycache__/

# PyCharm stuff
.idea/

# IPython Notebook
.ipynb_checkpoints

# virtualenv
venv/
ENV/

# macOS.gitignore from https://github.com/github/gitignore
*.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Data folder
data/
tmp/
*.log
